.panel {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
}

body {
    margin: 0;
}

img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

body {
    background-color: #121212;
}

.card{
    background-color: #bb86fc;
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 75px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px 2px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cardphoto {
    display: block;
    height: 70%;
    width: 30%;
    border-radius: 10px;
    margin-right: 20px;
}

h1 {
    display: block;
    text-align: center;
    color: #F5F5F5;
    font-size: 24px;
}

.font {
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Lucida Console", Monaco, monospace;
    color: #F5F5F5;
    opacity: 1;
}

.title-font {
    font-family: Arial, Helvetica, sans-serif;
}

.panel a, .panel a:visited, .panel a:active {
    color: #BB86FC;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}


.information a, .information a:visited, .information a:active {
    color: #BB86FC;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;

}

.test {
    min-height: 28vw;
    width: 20vw;
    background-color: #1f1f1f;
    margin: 10px;
    border-radius: 15px;

}

.blocks{
    display: flex;
    justify-content: center;
    height: 100%;
}

.otstyp {
    margin-top: 8vw;
}

.icone {
    height: 40px;
    width: 40px;
}

.skils-text {
    display: block;
    text-align: center;
    margin: 0;
}

.skils-photo {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 15px;
    filter: opasity(0.8)
}

.contact-information {
    display: flex;
    justify-content: center;
    width: 100%;
}

#blank {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .cardphoto {
      display: none;
    }
  }

#troll {
    display:flex;
    justify-content: center;

}

#troll p{
    padding: 10px;
    background-color: #BB86FC;
    border-radius: 8px;
}

#troll p:hover{
    margin-left: 50vw;
}

.best{
    text-align: center;
    color: #ffffff06;
}