.panel {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    box-shadow: 0 5px 2px #ffffff0d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

body {
    margin: 0;
}

img {
    height: 50px;
    width: 50px;
    margin: 5px;
}

body {
    background-color: #121212;
}

.card{
    background-color: #bb86fc;
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px 2px black;
    display: flex;
    justify-content: flex-start;
}

.cardphoto {
    display: block;
    height: 70%;
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    display: block;
    text-align: center;
    color: #F5F5F5;
    font-size: 24px;
}

.font {
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Lucida Console", Monaco, monospace;
}

.title-font {
    font-family: Arial, Helvetica, sans-serif;
}

.panel a, .panel a:visited, .panel a:active {
    color: #BB86FC;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}


.information a, .information a:visited, .information a:active {
    color: #BB86FC;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;

}

.test {
    height: 50px;
    width: 50px;
    background-color: #BB86FC;
    margin: 5px;
}

.blocks{
    display: flex;
    justify-content: center;
    height: 100%;
}

.otstyp {
    margin-top: 20px;
}

